# shellcheck disable=all
# example .env file with default values
ADAOPS_CARDANO_CLI="cardano-cli"
# ADAOPS_CARDANO_CLI="/usr/local/bin/cardano-cli"

# should be available for this library to work
# CARDANO_NODE_SOCKET_PATH="/tmp/cardano-node.socket"

# IDs (network_magic):
# IDs found in shelley-genesis.json
# mainnet - mainnet (default)
# 1 - preprod
# 2 - preview
# CARDANO_NODE_NETWORK_ID="mainnet"

## Used to determine command group - Default "conway"
# CARDANO_ERA="conway"
